
<%= form_for(@message) do |f| %>
 
  
  <div class="field form-group">
    <%= f.label :name, :style => "display:block;" %> 
    <%= f.text_field :name %>
  </div>
  
  <% if @message.errors.any? %>
  <div id="error_explanation">
    <!-- <h2> <%=pluralize(@message.errors.count, "error") %> 
    prohibited this article from being saved:</h2> -->
      <ul style="text-align: left; margin: 0 auto; width: 200px; color: red; padding-bottom: 10px; margin-top: -10px;"> 
      <% @message.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
      </ul>
  </div>
  <% end %>
  
  <div class="field form-group">
    <%= f.label :email, 'Email *', :style => "display: block;" %>
    <%= f.text_field :email %>
  </div>
  
 
  
  <div class="field form-group">
    <%= f.label :inquiry, :style => "display: block;" %>
    <%= f.text_area :inquiry, :size => "x3", :style => "overflow: auto;" %> 
  </div>  
  
  <div class="actions submit_button">
    <%= f.submit "Send Message" %>
  </div>
<% end %>



