<body>

<div class="wrapper">

 <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/pages/home"><img src="/assets/NomadicLogo2.png" style="width: 200px; height: 90px; margin-top:-38px; margin-left:-20px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", pages_home_path %></li>
        <li><%= link_to "ABOUT", pages_about_path %></li>
        <li><%= link_to "CONTACT", new_message_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Commercial" %></li>
            <li><%= link_to "Residential", pages_residential_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
 

 

  
 <div class="container-fluid text-center contact_wrapper" style="padding-top: 20px;">
   <div class="row contact_1">
   	  <img src="/assets/ipad2.png">
   	  <div class="caption">
        <h3> Contact Form </h3> 


  		<%= render 'form' %>
	  </div>
    </div>
  </div>
</div>  
  <script>
    $(function() {
  return $('.submit_button').click(function() {
    var answer;
    return answer = confirm('Are you sure?');
  });
});

if (answer) {
  alert('Message Sent!');
} else {
  e.preventDefault();
}

  </script>

</body>
