<div class ="show"> 
<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>  

<p>
  <strong>E-mail adress:</strong>
  <%= @message.email %>
</p>  

<p>
  <strong>Inquiry:</strong>
  <%= @message.inquiry %>
</p>  

</div>