
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  	  
<div class="wrapper_about">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/pages/home"><img src="/assets/NomadicLogo2.png" style="width: 200px; height: 90px; margin-top:-38px; margin-left:-20px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", pages_home_path %></li>
        <li><%= link_to "ABOUT", pages_about_path %></li>
         <li><%= link_to "CONTACT", new_message_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Commercial" %></li>
            <li><%= link_to "Residential", pages_residential_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row_about_1" style="display: inline-block;">
	<div class="col-sm-6 col-xs-12 about_pict" style="padding-top: 50px;"> 
        <img src="https://app.wishloop.com/builder/be_assets/img/predefined_images/business-man.png" alt="logo front" />
	</div> 
	
	<div class="col-sm-6 text-center about_col_2">
      <h2>About Us</h2>
      <img src="http://www.clker.com/cliparts/v/i/H/4/5/A/swirl-1-hi.png">
       <p style="padding-top: 20px;"> Nomadic Inc. was founded by Nick Sella in 2005, with the goal of providing fast and reliable technical support to the city of Tuscaloosa. 
       Our company supports both individuals with computer issues as well as businesses needing someone to maintain their networks and office computers. With almost 30 years of experience,
       Nick has worked on projects for large corporations and has always managed to solve his customers' technical problems quickly and to their satisfaction.     </p>
    </div> 
</div>
</div>
<div class="footer" style="padding-top: 0px;">
<p> © 2016 Nomadic Inc. </p>
</div>

</body>

   <!-- <script>
  	    $(document).ready(function(){
  		  $('#card').flip({
  		  trigger: 'click',
  		  trigger: 'hover',
  		  })
  		  });
	</script> ->