<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  	  

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/pages/home"><img src="/assets/NomadicLogo2.png" style="width: 200px; height: 90px; margin-top:-38px; margin-left:-20px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", pages_home_path %></li>
        <li><%= link_to "ABOUT", pages_about_path %></li>
        <li><%= link_to "CONTACT", new_message_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Commercial" %></li>
            <li><%= link_to "Residential", pages_residential_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/Busy_dark.jpg">
        <div class="carousel-caption">
          <h3>Technical Solutions on the Move</h3> 
          <A HREF="#learn_more"><button class="Carousel_Button">Learn More</button></A>
        </div>      
      </div>

      <div class="item Residential">
        <img src="/assets/Res.jpg"> 
        <div class="carousel-caption">
          <h3>Quality Service For Residential Customers</h3>
          <a href="/pages/residential"><button class="Carousel_Button">Click Here</button></a>
        </div>      
      </div>
    
      <div class="item Residential">
        <img src="/assets/Business.jpg">
        <div class="carousel-caption">
          <h3>Premier on-site Service for Businesses</h3>
          <button class="Carousel_Button">Click Here</button>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> 
</div> 

   	  
<!-- </div> -->

<div class="container-fluid">   
	<A NAME="learn_more"><div class="row1 text-center"></A>
	  <div class="col-lg-4">
	    <img src="/assets/Bulb.jpg" style="height: 98px" class="Experience">
	    <h3 class="Logo_Header">25 Years of Experience</h3>
	    <p class="Logo_P"> With a long history of providing IT support to Tuscaloosa, 
	    we have seen almost every problem and know how to fix it. </p>
	  </div>
	  <div class="col-lg-4">
	    <img src="/assets/Car.jpg"> 
	    <h3 class="Logo_Header">We Come to You</h3>
	    <p class="Logo_P">Busy schedule? We provide in-home and in-office computer assistance to meet your needs.</p>
	  </div>
	  <div class="col-lg-4">
	    <img src="/assets/Phone.jpg">
	    <h3 class="Logo_Header"> Need Assistance? </h3>
	    <p><strong>Location:</strong> Tuscaloosa, AL 35404 <br> 
	    <strong>Phone:</strong> 205-799-1667  <br> 
	    <strong>Email:</strong> nsella@comcast.net</p>
	  </div>
	</div>
</div>

 <div class="container-full">
  <div class="row2_home">
    <div class="col-sm-6 text-center" style="margin-bottom:50px;">
     <h2> Serving Our Community Since 2005 </h2>
     <p> We always strive to build long-term relationships with our clients. 
     Our philosophy of customer satisfaction and fast service has allowed our business to grow substantially.
     We put our customers first, and will make sure that your technical problem is fixed the first time.  </p>
    </div> 
    <div class="col-sm-6 row2_img"> 
     <img src="/assets/Network2.png">
    </div>  
  </div>
 <!--<div class="push">
 </div> -->
 </div>
 
<!--<div class="footer" style="background-color: #003399; -webkit-filter: brightness(90%); text-align: center; color: white;">
   <p>© 2016 Nomadic Inc.</p>
</div> -->
  
<!-- Calling jquery first -->
<script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="scripts/bootstrap.min.js"></script>
  <!-- Carousel -->
<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    })
  });    
</script>  
  
</body>



