<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/pages/home"><img src="/assets/NomadicLogo2.png" style="width: 200px; height: 90px; margin-top:-38px; margin-left:-20px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", pages_home_path %></li>
        <li><%= link_to "ABOUT", pages_about_path %></li>
         <li><%= link_to "CONTACT", new_message_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Commercial" %></li>
            <li><%= link_to "Residential", pages_residential_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="row_com_1 container-full" style="margin: 0 auto; display: inline-block; position: relative;">
	<div>
	  <img class="com_photo" src="/assets/Residential_img.jpg"> 
    </div>
    <div>
	  <p> Residential Technical Support</p>
	</div>
  </div>


 <div class="row_com_2 container-fluid">
   <div class="col-sm-6 col_com" style="text-align: center;">
     <i class="material-icons" style="font-size:60px;color:#003399; -webkit-filter: brightness(90%); filter: brightness(90%);">&#xE2BD</i>
     <h3 style=" letter-spacing: normal; color: #777;"> Cloud Support</h3>
     <p> We will setup cloud support on your devices so that all of your data and resources will be backed up. 
     Clouds also let you easily share information among your devices.
   </div>
   <div class="col-sm-6 text-center col_com">
     <i class="material-icons" style="font-size:60px;color:#003399; -webkit-filter: brightness(90%); filter: brightness(90%);">&#xE30A</i>
     <h3 style=" letter-spacing: normal; color: #777;"> PCs and Macs</h3>
     <p>Whether you need help setting up a new computer or simply want a tune-up to optimize your computer's performance, we have you covered. </p>
   </div>
 </div>
 
 <div class="row_com_2 container-fluid"> 
   <div class="col-sm-6 text-center col_com">
     <i class="material-icons" style="font-size:60px;color:#003399; -webkit-filter: brightness(90%); filter: brightness(90%);">&#xE32A</i>
     <h3 style=" letter-spacing: normal; color: #777;"> Virus Removal and Firewall Setup</h3>
     <p> Don't let a virus ruin your computer. We will backup all of your computer's data and kill any viruses. Then,
     install powerful virus protection that will keep your computer safe. 
   </div>
   <div class="col-sm-6 text-center col_com">
     <i class="material-icons" style="font-size:60px;color:#003399; -webkit-filter: brightness(90%); filter: brightness(90%);">&#xE1DB</i>
     <h3 style=" letter-spacing: normal; color: #777;"> Data Recovery</h3>
       <p> Have you lost acces to important files or images? Hard drives, like any other electronic device, will eventually fail. 
       We will recover all of your computer's data and help you setup backup storage so that you will not have to deal with data loss again. </p>
   </div>
 </div>

 <div class="push">
 </div>
 
<script>


if (document.documentElement.clientWidth > 760) {

    $(function() {
    var listHeight = (($('.row_com_1 img').height()-$('.row_com_1 p').height())/2)+($('.row_com_1 p').height())/2;
    //$('.height').append('<p>' + listHeight + 'px<p>'); 
    window.onscroll = function() {
    if ($(window).scrollTop() <= listHeight){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
    else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
  	}
  });

  $(window).load(function() {
	var listHeight = (($('.row_com_1 img').height()-$('.row_com_1 p').height())/2)+$('.row_com_1 p').height();
        if ($(window).scrollTop() <= listHeight){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
        else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
    });
    
   $(window).load(function() {
    var listHeight = (($('.row_com_1 img').height()-$('.row_com_1 p').height())/2);
    //$('.height').append('<p>' + listHeight + 'px<p>'); 
    window.onscroll = function() {
    if ($(window).scrollTop() <= listHeight){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
    else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
  	}
  });
  

  
   $(window).resize(function() {
	var listHeight = ((($('.row_com_1 img').height()-$('.row_com_1 p').height())/2)+$('.row_com_1 p').height())/1.2;
	//$('.height').append('<p>' + listHeight + 'px<p>'); 
	window.onscroll = function() {
        if ($(window).scrollTop() <= listHeight){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
        else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
    }
});

}

</script>  

</body> 

 <script> 
/*
 jQuery(document).ready(function(){
 	var $tall = $('.row_com_1 p').width();
    window.onscroll = function() {
        if ($(window).scrollTop() <= $tall){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
        else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
    }
});  

$(window).load(function() {
	var $height = $('.row_com_1 p').height();
        if ($(window).scrollTop() <= 200){
            jQuery('.row_com_1 p').css({position: 'fixed'});
        }
        else {
        	jQuery('.row_com_1 p').css({position: 'absolute'});
        }
    });


*/

 </script> 

  <script>
$(document).ready(function() {
  centerContent();
  });
$(window).load(function()
{
	centerContent();
});

$(window).resize(function()
{
	centerContent();
});




function centerContent()
{
	var container = $('.row_com_1 img');
	var content = $('.row_com_1 p');
	content.css("left", (container.width()-content.width())/2);
	content.css("top", (container.height()-content.height()+$('.navbar').height())/2);
}
  </script>  





