// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  }

 body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
      overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red 
::-webkit-scrollbar-thumb {
    background: #FF0000;
} */
  
  h3, h4 {
      margin: 10px 0 20px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  
  .Logo_Header {
    letter-spacing: normal;
    color: #777;
  }
  
  .Carousel_Button {
  	background-color: #003399; /* Green */
  	-webkit-filter: brightness(90%);
  	filter: brightness(90%);
    border-radius: 10px;;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    width: 35%;
    border: none;
  	}
  	
   .Carousel_Button:hover {
     border-top-color: #28597a;
     background: #28597a;
     color: #ccc;
     -webkit-filter: brightness(100%);
     filter: brightness(100%);
   }
	
  .row1 img	{
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
 .Logo_P {
   width: 70%;
   margin: 0 auto;
   }
   
   @media (max-width: 1300px) {
   .Logo_P {
     width: 100%;
     }
     }
   
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  

  
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%);  /*make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  
  
  .Residential img {
   -webkit-filter: contrast(30%);
   filter: contrast(30%);
   
   }
  
  .carousel-caption {
  position: absolute;
  top: 20%; 
  }
  
 .Logo_Slide {
   top: -1%;
   
   }

 
  
  .carousel-caption h3 {
      color: #fff !important;
      font-size: 40px;
  }
  
  
  @media (max-width: 1250px) {
  .carousel-caption h3 {
      color: #fff !important;
      font-size: 30px;
   }
  }
  
  .Carousel_Button {
  /*border: 2px solid white;
  width: 35%;
  font-size: 1em; */
  margin: 0 auto;
  margin-top: 30%;
  }
  
   @media (max-width: 894px) {
    .Carousel_Button {
  	margin-top: 5%;
  	font-size: 1em;
  	width: 50%;
     }
    }
  
  @media (max-width: 660px) {
  .carousel-caption h3 {
  font-size: 17px;
  letter-spacing: 1.5px;
    }
  
  }
  
  @media (max-width: 894px) {
  .carousel-caption p {
  	margin-top: 0%;
     }
    }
  
   @media (max-width: 660px) {
  .carousel-indicators {
    display: none;
    }
  }
  
  /*@media (max-width: 600px) {
    .carousel-caption {
      display: none;  Hide the carousel text when the screen is less than 600 pixels wide 
    }
  } */
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: #28597a !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  
  .wrapper_about {
    margin-bottom: -40px;
    min-height: 100%;
    background-image: url("http://tipministries.com/wp-content/uploads/2015/11/Grey-Background-48.jpg");
    }
  
  .row_about_1 {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url("http://tipministries.com/wp-content/uploads/2015/11/Grey-Background-48.jpg");
    padding-bottom: 50px;
    margin-bottom: 40px;
    }
    
    @media(max-width: 768px) {
      .row_about_1 {
        height: auto;
        }
    }
   
  @media(max-width: 768px) {
      .about_pict {
        padding-bottom: 100px;
        }
      .about_col_2 {
        padding-bottom: 40px;
        }
    }
    
    
    
  .row_about_1 h2 {
    font-size: 1.5em; 
    font-family: Arial;
    color: #777;
    }
    
     .about_col_2 p {
       width: 100%;
 	   margin: 0 auto;
 	   text-align: left;
       }
       
    @media (min-width: 1100px) {
      .about_col_2 p {
        width: 70%;
        text-align: left;
        margin: 0 auto;
        }
    }
    

    
    .about_col_2 img {
      width: 30%; 
      height: auto;
      }
      
    @media (min-width: 1100px) {
    .about_col_2 img {
      width: 20%;
      height: auto;
      }
    }
    
  .about_pict img {
    display: block;
    margin: 0 auto;
    }
    
  .about_col_2 {
    padding-top: 50px;
    }
   
   @media(max-width: 768px) {
     .about_col_2 {
    padding-top: 50px;
    }
}
    
    @media (max-width: 768px) {
      .about_pict img {
        width: 60%;
        height: auto;
        }
    }
    
    @media (max-width: 768px) {
      .about_pict img {
        display: block;
        margin: 0 auto;
          }
        }
        
    .header {    
      width: 100%;
	  height: 200px;
	  background-image: url("/assets/Backdrop.jpg");    
      } 
      
      .header p {
        font-size: 1.3em;
        color: white;
        font-family: Courier New;
        }
      
	/* .header img {
  	  position: absolute;
  	  display: block;
  	  height: 17em;
  	  width: 30em;
      } */
       
    .caption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: 50px;
      }
      
      .caption h3 {
      	font-size: 20px;
      	letter-spacing: 4px;
	  	color: #006699;
	  	-webkit-filter: contrast(50%);
	  	font-family: Goudy Old Style;
		}
      
    .contact_1 {
      position: relative; 
      overflow: auto;
      }
      
      .contact_wrapper {
         height: 100%;
         min-height: 100%;
         height: auto !important; 
         padding-bottom: 40px;
    }
      
    
      /*form {
      background-image: url("http://www.grantsherman.com/images/content/services/OUR%20NETWORK.jpg"); 
      } */
      
    .contact_1 img {
      width: 100%;
      height: 550px; 
      }
      
    @media (min-width: 544px) {
    .contact_1 img {
      width: 70%;
      height: 650px;
       }
      }
      
    @media (min-width: 544px) {
    .caption {
      padding-top: 85px;
       }
    }
      
    @media (min-width: 850px) {
    .contact_1 img {
      width: 50%;
      height: 650px;
       }
      }  
      
    @media (min-width: 850px) {
    .caption {
      padding-top: 85px;
       }
    }
      
    @media (min-width: 1110px) {
    .contact_1 img {
      width: 40%;
      height: 650px;
       }
      }   
      
    @media (min-width: 1500px) {
    .contact_1 img {
      width: 30%;
      height: 650px;
       }
      }    
      
    @media (min-width: 1110px) {
    .caption {
      padding-top: 85px;
       }
    }
      
      
        
    .field {
      padding-top: -7px;
      }
      
    .show {
      margin-left: 5%;
      }
      
    .row2_home {
      color: #777;
      font-family: Arial;
      padding-top: 30px;
      display: inline-block;
      }
      
    
      
    .row2_home h2 {
      font-size: 1.5em;
      }
    
    @media (max-width: 544px) {    
      .row2_home h2 {
        font-size: 1.4em;
        }
      } 
      
    .row2_img img {
      width: 60%;
      height: 30%;
      margin-left: 10%;
      }
      
    @media (max-width: 768px) {
      .row2_img {
        left: 5%;
        }
    }    
     
    
    @media (min-width: 900px) {
    .row2_img img {
      height: 60%;
      width: 60%;
      margin-left: 10%;
      }
    }
    
    @media (min-width: 1100px) {
    .row2_img img {
      height: 300px;
      width: 350px;
      margin-left: 20%;
      }
    } 
    
    .row2_home p {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      }
      
    @media (min-width: 768px) {
      .row2_home p {
        width: 90%;
        margin: 0 auto;
        }
    }
    
    .container-full {
  	  margin: 0 auto;
      width: 100%;
      margin-top: 100px;
      background-color: #F8F8F8;
	}
       
    .wrapper {
      min-height: 100%;
      margin-bottom: -40px;
    }
    
    .footer {
    height: 40px;
    margin-top: -40px;
    background-color: #003399; 
    -webkit-filter: brightness(90%); 
    -filter: brightness(90%);  
    text-align: center; 
    color: white;
    padding: 0;
    margin: 0; 
    font-size: 15px/0;
    }
    
    .push {
    height: 40px;
    } 
                    
    .form_wrapper {
	dispaly: block;
	margin: 0 auto;
	width: 80%;
	background-image: url("http://www.ipsfocus.com/images/ipad.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 1000px;
	background-size: 40% 70%;
	margin-top: 3%;
	}

.form_wrapper h3 {
	font-size: 20px;
	color: #006699;
	-webkit-filter: contrast(50%);
	font-family: Goudy Old Style;
	}	
	
	
.ipad_text {
	position: relative;
	padding-left: 35%;
	padding-top: 8%;
	}
	
	
	@media(max-width: 768px) {
	  .about_pict {
	    }
	}
	
	
	@media(max-width: 768px) {
	  .about_col_2 {
	    position: relative;
	    margin-top: 90%;
	    }
	}
	
	
	.row_com_1 p {
	  position: absolute; 
	  font-size: 20px;
	  color: white;
	  font-family: sans-serif;
	  /*display: block;
	  margin: 0 auto;
	  left: 0;
	  right: 0;
	  width: 300px;
 	  bottom: 300px; */
	  text-align: center;
	  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
      background: rgba(94, 100, 104, 0.5);
   
	  }
	  
	  @media(max-width: 768px) {
	    .row_com_1 p {
	      width: 300px;
	      transform: translate(0, -80%);
	      -webkit-transform: translate(0, -80%);
	      -ms-transform: translate(0, -80%);
	      left: calc(50%-150px);
	      }
	    }
	
	@media(min-width: 768px) {
	.row_com_1 p {
	  font-size: 35px;
	  /*width: 500px;*/
	  }
	}
	
	@media(min-width: 1000px) {
	.row_com_1 p {
	  font-size: 50px;
	  width: 700px;
	  /*bottom: 50%; */
	  }
	}
	
	
	.row_com_2 {
	  margin-top: 50px;
	  }
	  
	@media(min-width: 1400px) {
	  .row_com_2 p  {
	    width: 70%;
	    margin: 0 auto;
	    }
	}
	  
	.row_com_2 p {
	  text-align: left;
	  }
	  
	@media(max-width: 768px) {
	.row_com_2 {
	    margin: 0px 0px 0px 0px;
	    }
	}
	
	@media(max-width: 768px) {
	.col_com {
	    margin: 50px 0px 0px 0px;
	    }
	} 
	
	@media(max-width: 768px) {
	  .dropdown-menu li a {
      color: white !important;
      }
  }

	
footer {
  background-color: #003399; 
  -webkit-filter: brightness(90%); 
  -filter: brightness(90%);  
  text-align: center; 
  color: white;
  padding: 0;
  margin: 0; 
  font-size: 15px/0;
}    

/*.footer p {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 5px;
  
  } */
  
.com_photo {
  width: 100%; 
  height: auto; 
  display: block; 
  -webkit-filter: contrast(60%); 
  filter: contrast(60%);  
  }
  
@media(min-width: 1400px) {
  .row_com_1 img {
    height: 1000px;
    }
}
